.server {
  height: 318px;
  margin: -20px 0 20px;
  background: url("@site/static/img/home/server.svg") no-repeat top
    calc(50% + 18px) center / 313px 313px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .serverHighlight {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("@site/static/img/home/server-highlight.svg") no-repeat top
      calc(50% + 18px) center / 313px 313px;
    opacity: 0;

    &.highlighted {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    transform: scale(0.41);
    margin: -40px 0 -79px;
  }

  .subtitle {
    width: 218px;
    margin-bottom: -50px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 0;
      transform: scale(2.5) translateY(-120px);
    }
  }

  .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(88.45deg, #44007c -2.7%, #b657ff 100%);
    position: absolute;
    bottom: 10px;

    &.left {
      left: calc(50% - 335px);
    }
    &.right {
      right: calc(50% - 335px);
    }

    &.highlighted {
      width: 24px;
      height: 24px;

      margin-bottom: -4px;
      &.left {
        margin-left: -4px;
      }
      &.right {
        margin-right: -4px;
      }

      background: linear-gradient(88.45deg, #c786fd -2.7%, #f8eeff 100%);
      box-shadow: 0 0 30px 0 #ffffff;
    }
  }
}

.gameFrame {
  width: 100%;
  height: 611px;

  @media screen and (max-width: 1024px) {
    margin: -165px 0;
  }
}
