.tocCollapsible {
  background-color: #222222;
  border-radius: var(--ifm-global-radius);
  margin: 25px 0 31px;
}

.tocCollapsibleContent > ul {
  border-left: none;
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding: 0.2rem 0;
  font-size: 15px;
}

.tocCollapsibleContent ul li {
  margin: 0.4rem 0.8rem;
}

.tocCollapsibleContent a {
  display: block;
}

.tocCollapsibleExpanded {
  transform: none;
}
