/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "GTWalsheim";
  src: url("/fonts/gt-walsheim-regular-webfont.woff2") format("woff2"),
    url("/fonts/gt-walsheim-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTWalsheim";
  src: url("/fonts/gt-walsheim-bold-webfont.woff2") format("woff2"),
    url("/fonts/gt-walsheim-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #59028b;
  --ifm-color-primary-dark: #420665;
  --ifm-color-primary-darker: #30153e;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #a601ee;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-font-family: GTWalsheim, sans-serif;
  --ifm-font-family-base: GTWalsheim, sans-serif;
  --ifm-footer-background-color: #59028b;
  --ifm-footer-link-hover-color: #e432dd;
  --ifm-background-color: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e432dd;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
