.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2.8px;

  color: #bcb8ff;
  text-transform: uppercase;

  text-decoration: none;
}

a.link:hover {
  color: white;
  text-decoration: none;
}

:global(.game-page) {
  .footer {
    height: 80px;
  }
}

.footer {
  @media (max-width: 700px) {
    display: none;
  }

  margin: 0 77px;
  height: 180px;
  padding-top: 43px;
  border-top: 1px solid rgba(188, 184, 255, 0.3);

  * {
    white-space: nowrap;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .side {
      width: 200px;
    }

    .center {
      display: flex;
      > :not(:first-child) {
        margin-left: 40px;
      }
    }

    .social {
      display: flex;
      justify-content: flex-end;

      > :not(:first-child) {
        margin-left: 24px;
      }

      a {
        display: flex;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.footerMobile {
  display: none;

  @media (max-width: 700px) {
    display: flex;
  }

  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  padding: 60px 0 56px;
  border-top: 1px solid rgba(188, 184, 255, 0.3);

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;

    > :not(:first-child) {
      margin-top: 32px;
    }
  }

  .social {
    margin: 74px 0 32px;

    display: flex;
    justify-content: flex-end;

    > :not(:first-child) {
      margin-left: 24px;
    }

    a {
      display: flex;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
