html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  user-select: none;
  box-sizing: border-box;
}
