body,
html {
  padding: 0;
  margin: 0;
  background: #4d616f url("background.svg") no-repeat center;
  background-size: cover;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

#players {
  position: relative;
  list-style: none;
  font-size: max(1rem, 5vw);
  margin: 1em 0;
  padding: 0;
  font-weight: 700;
  width: 96vw;
  max-width: min(90vh, 600px);
  height: 7rem;
}

#players li {
  position: absolute;
  top: 0;
  text-align: center;
  opacity: 0.5;
  border-radius: 5px;
  font-size: 0.7rem;
  line-height: 1.5;
  padding: 0 0.5rem 0 3rem;
  width: min(3rem, 20vw);
  margin-left: max(-1.5rem, -10vw);
  transition: all 0.5s;
  transform: scale(0.7);
}

#players li.current {
  top: 4rem;
  opacity: 1;
  transform: scale(1);
  width: min(5rem, 30vw);
  margin-left: max(-2.5rem, -15vw);
}

#players li.previous {
  border: 4px solid red;
}

#players li span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 0;
  height: 0;
  transition: all 0.5s;
}

#players li.current span {
  padding-top: 0.3rem;
  height: 1rem;
}

#players li img {
  display: block;
  position: absolute;
  top: 50%;
  left: -2.5rem;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  border: 3px solid;
  border-radius: 50%;
  box-sizing: border-box;
}

#players li:after {
  content: attr(data-score);
  display: block;
  margin: 0;
  font-size: 2rem;
  line-height: 1.4;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
}

#players li.current:after {
  line-height: 1.2;
}

#players li:nth-child(1),
#players li:nth-child(1) img {
  background-color: #7c40de;
  border-color: #7c40de;
}

#players li:nth-child(2),
#players li:nth-child(2) img {
  background-color: #5041fe;
  border-color: #5041fe;
}

#players li:nth-child(3),
#players li:nth-child(3) img {
  background-color: #3ea5bb;
  border-color: #3ea5bb;
}

#players li:nth-child(4),
#players li:nth-child(4) img {
  background-color: #8b7113;
  border-color: #8b7113;
}

aside {
  margin: 1em 0;
}

#round {
  display: inline-block;
  margin-right: 1em;
}

#turns {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#turns li {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  margin: 6px;
  background: #2a5c64;
  transition: all 0.3s;
}

#turns li.filled {
  border-color: white;
  background: #65d2e2;
  box-shadow: 0 0 4px #65d2e2;
}

#board {
  position: relative;
  width: 96vw;
  aspect-ratio: 1;
  max-width: min(90vh, 600px);
  margin-bottom: 1vh;
  margin-bottom: max(env(safe-area-inset-bottom, 0), 1vh);
  transition: opacity 0.3s;
}

#board.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-count: 1;
}

#board.disabled {
  opacity: 0.7;
}

.loading:before {
  content: "Loading...";
  font-weight: bold;
}

.loading > * {
  display: none;
}

#frames > *,
#tiles > * {
  position: absolute;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
}

#frames > *:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1;
  margin: 4%;
  background-color: rgba(22, 34, 37, 0.7);
}

#frames > *:nth-child(even):before {
  background-color: rgba(67, 93, 100, 0.7);
}

#tiles > * {
  scale: 1;
  transition: all 0.5s;
}

#tiles > *.removed {
  opacity: 0;
  scale: 0;
}

#tiles > *.added {
  transform: translateY(-20vh);
}

#tiles > *:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  aspect-ratio: 1;
  margin: 4%;
}

#tiles > *[data-tile="1"]:before {
  background-image: url(tiles/square.svg);
}

#tiles > *[data-tile="2"]:before {
  background-image: url(tiles/triangle.svg);
}

#tiles > *[data-tile="3"]:before {
  background-image: url(tiles/diamond.svg);
}

#tiles > *[data-tile="4"]:before {
  background-image: url(tiles/circle.svg);
}

#tiles > *[data-tile="5"]:before {
  background-image: url(tiles/star.svg);
}

#tiles > *[data-tile="6"]:before {
  background-image: url(tiles/hexagon.svg);
}
