.home {
  flex: 1;
  background-color: #1b0329;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3px;

  color: white;
  text-transform: uppercase;

  padding: 37px 77px 0;

  .left {
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    > :not(:first-child) {
      margin-left: 32px;
    }
  }
}

.logo {
  width: 13.81px;
  height: 35.84px;
}

.menuLink {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.menuBtn {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2.8px;

  text-decoration: none;
  border: 1.25px solid;
  border-image-source: linear-gradient(88.45deg, #c887ff -2.7%, #ffa9a9 100%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 4px;
  padding: 10px 16px;
  position: relative;
  transition: border-image-source 0.2s ease-out;

  div {
    transition: opacity 0.2s ease-out;
  }

  div.normal {
    background: linear-gradient(88.45deg, #c887ff -2.7%, #ffa9a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
  }

  div.hover {
    position: absolute;
    top: 10px;
    opacity: 0;
    color: #ffd4d5;
  }

  &:hover {
    text-decoration: none;

    border-image-source: linear-gradient(88.45deg, #ffd4d5 -2.7%, #ffd4d5 100%);

    div.normal {
      opacity: 0;
    }

    div.hover {
      opacity: 1;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;

  h2 {
    margin: 0;
    font-size: 82px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -1.64px;

    background: var(
      --Gradient-Shine,
      linear-gradient(242deg, #eeedff 7.25%, #b2adff 92.6%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
  }

  h3 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;

    background: var(
      --Gradient-Shine,
      linear-gradient(242deg, #eeedff 7.25%, #b2adff 92.6%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
  }

  h5 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.64px;

    color: white;
  }

  p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.44px;

    text-align: center;
    color: white;
  }

  .hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-top: 325px;

    h2 {
      max-width: 932px;
      margin-bottom: 24px;
      z-index: 1;
    }

    p {
      margin-bottom: 48px;
      z-index: 1;
    }

    .phoneFrame {
      position: absolute;
      top: 0;
      width: 268px;
      height: 546px;
      background: url("@site/static/img/home/phoneFrame.png") no-repeat center
        center/268.54px 546.27px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10px;

      mask-image: -webkit-gradient(
        linear,
        left 30%,
        left 80%,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );

      .containerOuter {
        overflow: hidden;
      }

      .container,
      .containerOuter {
        width: 241px;
        height: 523px;
        border-radius: 34px;
        position: relative;

        video {
          width: 241px;
          height: 523px;
          vertical-align: bottom;
        }
      }
    }
  }

  .hero2 {
    margin: 225px 0;

    h2 {
      max-width: 982px;
      margin-bottom: 80px;
    }
  }

  .features {
    > :not(:first-child) {
      margin-top: 64px;
    }

    .feature {
      display: flex;
      align-items: center;

      > :not(:first-child) {
        margin-left: 16px;
      }

      h5 {
        margin-bottom: 16px;
      }

      p {
        color: #bcb8ff;
        text-align: left;
      }

      .icon {
        width: 120px;
        height: 120px;
      }

      .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .cta {
    width: 100%;
    height: 876px;
    background: url("@site/static/img/home/cta.png") no-repeat center
      center/853px 876.21px;
    padding-top: 556px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > :not(:first-child) {
      margin-top: 64px;
    }
  }
}

.ctaButtons {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 16px;
  }
}

.ctaButton {
  padding: 0 32px;
  border-radius: 100px;
  background: white;
  height: 64px;

  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.18px;

  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 8px;
  }

  img {
    width: 24px;
    height: 24px;
  }

  color: #1b0329;
  text-decoration: none;

  &:hover {
    color: #1b0329;
    text-decoration: none;
  }

  &.blue {
    background: #5865f2;
    color: white;

    &:hover {
      color: white;
    }
  }
}

.footer {
  margin: 0 77px;
  height: 180px;
  padding-top: 43px;
  border-top: 1px solid #bcb8ff;

  * {
    white-space: nowrap;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 2.8px;

      color: #bcb8ff;
      text-transform: uppercase;

      text-decoration: none;
    }

    a.link:hover {
      color: white;
      text-decoration: none;
    }

    > .side {
      width: 200px;
    }

    .center {
      display: flex;
      > :not(:first-child) {
        margin-left: 40px;
      }
    }

    .social {
      display: flex;
      justify-content: flex-end;

      > :not(:first-child) {
        margin-left: 24px;
      }

      a {
        display: flex;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
