.home {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 60px 0;

  @media (max-width: 700px) {
    width: 375px;
    margin: 0 auto;
    padding: 30px 16px 0;
  }

  h2 {
    margin: 0;
    font-size: 82px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -1.64px;

    @media (max-width: 1024px) {
      font-size: 56px;
      line-height: 60px;
      letter-spacing: -1.12px;
    }

    @media (max-width: 700px) {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -0.64px;
    }

    background: linear-gradient(242deg, #eeedff 7.25%, #b2adff 92.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
  }

  h3 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;

    @media (max-width: 1024px) {
      font-size: 48px;
      line-height: 52px;
      letter-spacing: -0.96px;
    }

    @media (max-width: 700px) {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -0.64px;
    }

    background: linear-gradient(242deg, #eeedff 7.25%, #b2adff 92.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
  }

  h5 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.64px;

    color: white;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.48px;
    }

    @media (max-width: 700px) {
      font-size: 22px;
      line-height: normal;
      letter-spacing: -0.22px;
    }
  }

  p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.44px;

    text-align: center;
    color: white;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.36px;
    }

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.32px;
    }
  }

  .phoneFrame {
    position: absolute;
    top: 0;
    width: 268px;
    height: 546px;
    background: url("@site/static/img/home/phoneFrame.svg") no-repeat center
      center/268.54px 546.27px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 12px;

    @media (max-width: 700px) {
      width: 159.26px;
      height: 323.97px;
      background: url("@site/static/img/home/phoneFrame.svg") no-repeat center
        center/159.26px 323.97px;
      padding-top: 9px;
    }

    mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 60%
    );

    .containerOuter {
      border-radius: 34px;

      @media (max-width: 700px) {
        border-radius: 22px;
      }

      overflow: hidden;
    }

    .container,
    .containerOuter,
    video {
      width: 241px;
      height: 385px;

      @media (max-width: 700px) {
        width: 143px;
        height: 229px;
      }
    }

    .container,
    .containerOuter {
      position: relative;

      video {
        vertical-align: bottom;
      }
    }
  }

  .gameInfo {
    left: calc(50% + 50px);
    top: 150px;
    position: absolute;
    z-index: 1;
    background: #1b0329;
    padding: 14px 36px 14px 23px;
    border-radius: 14.4px;
    box-shadow: 0px 3.596px 35.955px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 700px) {
      left: 150px;
      top: 60px;
      transform: scale(0.59);
    }

    > :not(:first-child) {
      margin-top: 3.6px;
    }

    .author {
      display: flex;
      align-items: center;

      img {
        width: 14.38px;
        height: 14.38px;
        position: relative;
      }
      span {
        margin-left: 2.7px;
        color: white;
        font-size: 11.685px;
        font-weight: 700;
        line-height: 130%;
        white-space: nowrap;
      }
    }

    .game {
      display: flex;
      align-items: center;

      > :not(:first-child) {
        margin-left: 5.39px;
      }

      > span {
        color: white;
        font-size: 18.876px;
        font-weight: 700;
        line-height: 130%;
        white-space: nowrap;
      }

      .info {
        display: flex;
        align-items: center;
        padding: 3.6px 7.19px;
        border-radius: 26.07px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(223, 168, 255, 0.3) 100%
        );
        flex-shrink: 0;

        > :not(:first-child) {
          margin-left: 1.8px;
        }

        img {
          width: 14.38px;
          height: 14.38px;
        }

        span {
          color: white;
          text-align: center;
          font-size: 11.685px;
          font-weight: 700;
          line-height: 130%;
          white-space: nowrap;
        }
      }
    }
  }

  .hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding-top: 300px;

    @media (max-width: 700px) {
      padding-top: 180px;
    }

    h2 {
      max-width: 932px;
      margin-bottom: 24px;
      z-index: 1;

      @media (max-width: 700px) {
        max-width: 322px;
        margin-bottom: 16px;
      }
    }

    p {
      margin-bottom: 48px;
      z-index: 1;

      @media (max-width: 700px) {
        margin-bottom: 36px;
      }
    }
  }

  .hero2 {
    margin: 225px 0 297px;

    @media (max-width: 700px) {
      margin: 136px 0 165px;
    }

    h2 {
      max-width: 990px;
      margin-bottom: 80px;

      @media (max-width: 700px) {
        max-width: 322px;
        margin-bottom: 48px;
      }
    }
  }

  .hero3 {
    width: 100%;
    max-width: 953px;
    margin-bottom: 297px;

    @media (max-width: 1024px) {
      max-width: 500px;
      margin-bottom: 159px;
    }

    .description {
      margin-top: 54px;
    }
  }

  .hero4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 493px;

    @media (max-width: 700px) {
      margin-bottom: 223px;
    }

    p {
      max-width: 768px;
      margin: 24px 0 64px;

      @media (max-width: 1024px) {
        margin: 24px 0;
      }
    }

    .codeContainer {
      padding: 48px 40px;
      border-radius: 16px;
      background: #282a36;
      width: 100%;
      max-width: 955px;

      > div:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 700px) {
        padding: 16px;

        pre {
          font-size: 12px;
        }
      }

      * {
        box-shadow: none !important;
      }

      .buttons {
        display: flex;
        > :not(:first-child) {
          margin-left: 16px;

          @media (max-width: 700px) {
            margin-left: 5.75px;
          }
        }
        margin-bottom: 35px;
        @media (max-width: 700px) {
          margin-bottom: 0;
        }

        .button {
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
          letter-spacing: 2.8px;
          cursor: pointer;

          padding: 10px 16px;
          border-radius: 4px;
          border: 1px solid #bcb8ff;
          color: #bcb8ff;

          @media (max-width: 700px) {
            font-size: 11px;
            line-height: normal;
            letter-spacing: -0.11px;

            padding: 4px 8px;
            border-radius: 1.44px;
          }

          &.active {
            background: #ff8888;
            color: #1b0329;
            border-color: transparent;
          }
        }
      }
    }
  }

  .makeAnyKindOfGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    margin-bottom: 463px;

    @media (max-width: 700px) {
      margin-bottom: 211px;
    }

    h2 {
      max-width: 932px;
      margin-bottom: 24px;
      z-index: 1;

      @media (max-width: 700px) {
        max-width: 322px;
      }
    }

    p {
      margin-bottom: 78px;
      z-index: 1;
      max-width: 796px;

      @media (max-width: 700px) {
        margin-bottom: 36px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
    ul > li {
      position: relative;
      width: 268px;
      height: 371px;
    }
    ul > li > .title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      font-size: 44px;
      font-weight: 400;
      line-height: 100%;
      white-space: nowrap;
      text-align: center;

      background: linear-gradient(242deg, #eeedff 7.25%, #b2adff 92.6%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 700px) {
        font-size: 30px;
      }
    }
  }

  .featuresOuter {
    display: flex;
    justify-content: center;

    .features {
      > :not(:first-child) {
        margin-top: 64px;

        @media (max-width: 700px) {
          margin-top: 32px;
        }
      }

      .feature {
        display: flex;
        align-items: center;

        > :not(:first-child) {
          margin-left: 16px;

          @media (max-width: 700px) {
            margin-left: 8px;
          }
        }

        h5 {
          margin-bottom: 16px;

          @media (max-width: 700px) {
            margin-bottom: 8px;
          }
        }

        p {
          color: #bcb8ff;
          text-align: left;
        }

        .icon {
          width: 120px;
          height: 120px;

          @media (max-width: 700px) {
            width: 60px;
            height: 60px;
          }
        }

        .main {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @media (max-width: 1024px) {
            display: none;
          }
        }

        .mainMobile {
          display: none;

          @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .cta {
    width: 100%;
    background: url("@site/static/img/home/cta.png") no-repeat top center/820px
      876px;
    padding-top: 566px;
    margin-bottom: 211px;
    position: relative;

    @media (max-width: 700px) {
      min-height: 323px;
      background: url("@site/static/img/home/cta.png") no-repeat top
        center/302px 323px;
      padding-top: 227px;
      margin-bottom: 95px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    > :not(:first-child) {
      margin-top: 64px;

      @media (max-width: 700px) {
        margin-top: 48px;
      }
    }

    .ctaButton {
      z-index: 1;
    }

    .starsContainer {
      position: absolute;
      z-index: 0;
      left: calc(50% - 233px / 2);
      bottom: calc(-149px / 2 + 64px / 2);

      @media (max-width: 700px) {
        left: calc(50% - 149px / 2);
        bottom: calc(-96px / 2 + 48px / 2);
      }

      .stars {
        width: 233px;
        height: 149px;

        @media (max-width: 700px) {
          width: 149px;
          height: 96px;
        }
      }
    }
  }
}

.ctaButtons {
  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 16px;

    @media (max-width: 700px) {
      margin-left: 8px;
    }
  }
}

.ctaButton {
  transition: box-shadow 0.2s ease-out;
  &:hover {
    box-shadow: 0 0 20px 0 #da9aff;
  }

  flex-shrink: 0;

  padding: 0 32px;
  border-radius: 100px;
  background: white;
  height: 64px;

  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.18px;

  @media (max-width: 700px) {
    padding: 0 24px;
    height: 48px;
    font-size: 11px;
    line-height: 12.59px;
    letter-spacing: -0.11px;
  }

  display: flex;
  align-items: center;

  > :not(:first-child) {
    margin-left: 8px;
  }

  img {
    width: 24px;
    height: 24px;

    @media (max-width: 700px) {
      width: 20px;
      height: 20px;
    }
  }

  color: #1b0329;
  text-decoration: none;

  &:hover {
    color: #1b0329;
    text-decoration: none;
  }

  &.blue {
    &:hover {
      box-shadow: 0px 0px 20px 0px #6b77ff;
    }

    background: #5865f2;
    color: white;

    &:hover {
      color: white;
    }
  }
}
