name: Documentation

on:
  push:
    branches: ["staging"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    name: Publish to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    env:
      TMPDIR: /tmp
      GAME_ASSETS_SSH: ${{ secrets.GAME_ASSETS_SSH }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version"
          cache: "yarn"
      - name: Install dependencies
        run: yarn --prefer-offline --frozen-lockfile --non-interactive --ignore-scripts --silent
        working-directory: docs
      - name: Build website
        run: |
          mkdir ~/.ssh
          echo "$GAME_ASSETS_SSH" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          yarn build
        working-directory: docs
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "docs/build"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
